---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.tenders.gov.au/?event=public.advancedsearch.keyword%26keyword=CN1121942&title=TradeLead::Australia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"08f417a8dc5388d7646150382c9711517c9d97a8"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://bit.ly/1M995hi",
        "aggregate_link": "http://bit.ly/1NzFtNx", "long_url": "https://www.tenders.gov.au/?event=public.advancedsearch.keyword&keyword=CN1121942",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Thu, 17 Sep 2015 21:35:23 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.tenders.gov.au/?event=public.advancedsearch.keyword%26keyword=CN1122002&title=TradeLead::Australia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5a6645b1a59e11e2e5493f966910b27bff65a131"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://bit.ly/1KQmtK2",
        "aggregate_link": "http://bit.ly/1ibP5Ap", "long_url": "https://www.tenders.gov.au/?event=public.advancedsearch.keyword&keyword=CN1122002",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Thu, 17 Sep 2015 21:35:25 GMT
recorded_with: VCR 2.9.3
