---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.fbo.gov/spg/DLA/J3/DSCC-BSM/SPE7M815Q0425/listing.html&title=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3794446ed736038ae7a428cd65f24ff35ea74448"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://1.usa.gov/1JeXyIX",
        "aggregate_link": "http://bit.ly/1JeXyZb", "long_url": "https://www.fbo.gov/spg/DLA/J3/DSCC-BSM/SPE7M815Q0425/listing.html",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Fri, 18 Sep 2015 17:28:49 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.fbo.gov/notices/5eaf5409ca1351bb517077dfa0637e2e&title=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dc6afd2c464163279701daf20b39a9504f81a018"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://1.usa.gov/1YkNUjf",
        "aggregate_link": "http://bit.ly/1YkNUzu", "long_url": "https://www.fbo.gov/notices/5eaf5409ca1351bb517077dfa0637e2e",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Fri, 18 Sep 2015 17:28:50 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.fbo.gov/notices/4a5d49fddc31fdc4c5433fa49311fdda&title=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6eed6997435afe2a3c4b526f1d156eb64cfe11c6"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://1.usa.gov/1YkNVn7",
        "aggregate_link": "http://bit.ly/1YkNVn8", "long_url": "https://www.fbo.gov/notices/4a5d49fddc31fdc4c5433fa49311fdda",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Fri, 18 Sep 2015 17:28:52 GMT
recorded_with: VCR 2.9.3
