---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://mcc.dgmarket.com/tenders/np-notice.do?noticeId=12529030&title=TradeLead::Mca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"790f3adc3e916363a7065014a6ed0faee947ee2a"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1MtB6mR",
        "aggregate_link": "http://bit.ly/1MtB6mS", "long_url": "http://mcc.dgmarket.com/tenders/np-notice.do?noticeId=12529030",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Thu, 17 Sep 2015 21:35:44 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://mcc.dgmarket.com/tenders/np-notice.do?noticeId=12281937&title=TradeLead::Mca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1ff653fefce2195e1ba178ee8912e101c8eaed46"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1MtB8Li",
        "aggregate_link": "http://bit.ly/1MtB8Lj", "long_url": "http://mcc.dgmarket.com/tenders/np-notice.do?noticeId=12281937",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Thu, 17 Sep 2015 21:35:47 GMT
recorded_with: VCR 2.9.3
