---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://www.bis.doc.gov/index.php/forms-documents/doc_download/991-ccl9&title=Eccn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"954c98fa40ec91839f5ca871aef80cc193f6c7ea"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1NuQBtt",
        "aggregate_link": "http://bit.ly/1NuQBJH", "long_url": "http://www.bis.doc.gov/index.php/forms-documents/doc_download/991-ccl9",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 23 Sep 2015 16:18:28 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://www.bis.doc.gov/index.php/forms-documents/doc_download/950-ccl5-pt1&title=Eccn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5b83571fce3021756a733556d0a67abbd980889a"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1W0JFr0",
        "aggregate_link": "http://bit.ly/1W0JFr1", "long_url": "http://www.bis.doc.gov/index.php/forms-documents/doc_download/950-ccl5-pt1",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 23 Sep 2015 16:18:31 GMT
recorded_with: VCR 2.9.3
